@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.vcenter-item{
    margin-top: 150px;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #dadada;
}

p {
  color: red;
}

.inline {
  margin-top: 50px;
}